$margin:2px;
$padding:2px;	
$footerheight:70px;
$menuwidth:250px; 
$headingcolor:#C6E5E7;
html,body{
  	/*background-color:#eeeeee;*/
		height:100%;
		margin:0px;
		padding:0px;
  	}
img.logo{
  height:40px;
  padding:3px;
  float:left;
}
#headerlayout td{
   /*border-style:solid;*/
}
#headerlayout{
    width:90%;
}
.heading, .subheading{
    color:$headingcolor;
    text-align:center;
    vertical-align:middle;
}
.heading{
  font-size:30px;
  font-weight:800;
 
}
.subheading{
  font-size:14px;
  font-weight:200;
}
#signout, #languages {
  float:right;
}
.applanguagetd{
   text-align:right;
   vertical-align:bottom;
}
#bigcontainer{
  min-height:100%;
  position:relative; 
}

#appheader{
  margin:$margin;
  height:60px;
}

#midcontainer, #appmaintable{
  margin:$margin;
  padding-bottom:$footerheight;
  width:100%;
  min-height:100%;
}
#appmenutd{
  margin:$margin;
  width:$menuwidth;
  padding:$padding;
  background-color:#E2F2FF;
}
#appmenutd, #appmaintd{
  vertical-align:top
}

#spacer{
  position:relative;
}
#appmain{
  position:absolute;
  left:$menuwidth+$margin*2 +$padding*2;
  margin:$margin;
  padding:$padding;
  width:90%;
  height:500px;
}

#appfooter{
  clear:left;
  position:absolute;
  width:100%;
  height: $footerheight;
  margin:$margin;
  bottom:0;
}
 
#extruderMenu{
  background-color:#cccccc;
  }  
footer{ 
   font-size:small;
   font-weight:700;
}
#buttonpanel{
    background-color:#444444;
	position:relative;
	left:300px;
}
table.data{
     border-color:#637897; 
     border-style:solid;
     border-width:thin;
} 
table.data{
  /*border-collapse:collapse;*/
  
}
tr.dataodd, tr.dataeven{
  font-size:x-small;
  font-weight:550;
}
tr.dataodd{
  background-color:#CAEAFF;
}
tr.dataeven{
  
}
tr.dataheader{
  background-color:#CCCCCC;
  
}
td.data, td.dataheader, td.linkheader, td.link{
  padding:5px;
}

ul.menu{
  list-style-type:none; 
  /*padding:4px;*/
  font-size:small;
  padding: 0px;
  margin:0px;
}
#signoutbutton{
	
}
table.whiteboard{
  border-style:none;
}
tr.whiteboard{

}
td.whiteboardname{
  vertical-align:top;
  text-align:right;
  font-size:smaller;
  font-weight:600;
  
}
td.whiteboardlink{
   vertical-align:bottom;
   
}
td.whiteboard{
 border-style:solid;
 border-color:black;
 border-width:thin;
 padding:10px;
 margin-bottom:4px;
 width:300px;
}
p.pageheading{
 font-weight:700;
 font-size:larger;
 }
 
 td.link{
 	 
 }
 #firelanguagechange{
 	display:none;
 }
 
 /* for will_paginate */
.next_page, .previous_page{
	font-size:smaller;
	font-weight:600;
}
.pagination em, .pagination a{
	font-size:smaller;
	font-weight:600;
}
/* these user* below were copied in a merge Not sure if they are needed */

#user_nav{
	color: #ffffff;
	width:90%;
	text-align:right;
}
#user_nav a{
	color:#ffffff;
}
#username{
	font-style:italic;
}